
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: linear-gradient(white,gray)
}
.slider {
    position: relative;
    max-width: 600px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slides {
    position: relative;
    width: 100%;
}

.slide {
    display: none;
    width: 100%;
    border-radius: 10px;
}

.block {
    display: block;
}

button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
}
button:hover {
    background: linear-gradient(black,white)
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

button:disabled {
    display: none;
}

.dots {
    margin-top: 10px;
}

.dot {
    height: 12px;
    width: 12px;
    margin: 0 5px;
    background-color: wheat;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}
.dot:hover {
    background-color: rgb(88, 66, 66);
}

.dot.block {
    background-color: rgb(88, 66, 66);
}
